@model Reactor.Web.ViewModels.Profile.ProfileCoverViewModel
@inject CommonHelper CommonHelper
@inject IUserService UserService

<div class="profile__cover">
    <img src="@Model.ProfileCoverPicture" class="profile__bg-img"/>

    <div class="profile__info">
        <img src="@Model.ProfilePicture" class="profile__photo" alt="Profile-Picture"/>
        <h2 class="profile__title">@Model.FullName</h2>
        @if (!string.IsNullOrEmpty(Model.Description))
        {
            <p class="profile__description">
                @Model.Description
            </p>
        }
    </div>

    @if (!await UserService.IsProfilePageForCurrentUserAsync(CommonHelper.GetUserNameFromUrl()))
    {
        if (Model.IsFollowingUser)
        {
            <div class="profile__follow">
                <a class="profile__follow-btn profile__follow--is-following" data-followee-username="@CommonHelper.GetUserNameFromUrl()">
                    <span>Following</span>

                </a>
            </div>
        }
        else
        {
            <div class="profile__follow">
                <a class="profile__follow-btn" data-followee-username="@CommonHelper.GetUserNameFromUrl()">
                    <i class="fa fa-user-plus"></i>
                    <span>Follow me</span>

                </a>
            </div>
        }
    }

</div>

<div class="profile__stats">
    <ul class="profile__list">
        <li class="profile__item">
            <a class="profile__link" asp-controller="Profile" asp-action="Profile" asp-route-username="@CommonHelper.GetUserNameFromUrl()">

                <span class="fa fa-edit profile__icon"></span>
                Posts
                <span class="profile__counter">@Model.TotalPosts</span>
            </a>
        </li>

        <li class="profile__item">
            <a class="profile__link" asp-controller="Profile" asp-action="GetUserPhotos" asp-route-username="@CommonHelper.GetUserNameFromUrl()">
                <span class="fa fa-image profile__icon"></span>
                Photos
                <span class="profile__counter">@Model.TotalPhotos</span>
            </a>
        </li>
        <li class="profile__item">
            <a class="profile__link" asp-controller="Profile" asp-action="GetUserFollowers" asp-route-username="@CommonHelper.GetUserNameFromUrl()">

                <span class="fa fa-users profile__icon"></span>
                Followers
                <span class="profile__counter">@Model.TotalFollowers</span>
            </a>
        </li>
        <li class="profile__item">
            <a class="profile__link" asp-controller="Profile" asp-action="GetUserFollowees" asp-route-username="@CommonHelper.GetUserNameFromUrl()">

                <span class="fa fa-support profile__icon"> </span>
                Following
                <span class="profile__counter">@Model.TotalFollowees</span>
            </a>
        </li>
    </ul>
</div>