@using Reactor.Web.ViewModels.Profile
@model ProfileViewModel
@inject CommonHelper CommonHelper
@{
    ViewData["Title"] = $"{CommonHelper.GetUserNameFromUrl()}'s profile page";

    Layout = "_ProfileLayout";
}
<div class="col-md-3">

    <div class="box">
        <div class="box__header">
            <h2 class="box__title">
                About
                @if (Model.IsProfilePageForUser)
                {
                    <text>.</text>
                    <a asp-controller="Settings" asp-action="Basic">edit</a>
                }
            </h2>
        </div>
        <div class="box__content">
            <ul class="box__list">
                <li class="box__item">
                    <span class="fa fa-briefcase box__icon"></span> Works at
                    <a href="#" class="box__link">@Model.WorkAt</a>
                </li>

                <li class="box__item">
                    <span class="fa fa-home box__icon"></span> Lives in
                    <a href="#" class="box__link">@Model.Lives</a>
                </li>

                <li class="box__item">
                    <span class="fa fa-map-marker box__icon"></span> From
                    <a href="#" class="box__link">@Model.From</a>
                </li>

                @if (Model.TotalFollowers > 0)
                {
                    <li class="box__item">
                        <span class="fa fa-rss-square box__icon"></span> Followed by
                        @if (Model.TotalFollowers == 1)
                        {
                            <a class="box__link" asp-action="GetUserFollowers"> @Model.TotalFollowers person</a>
                        }
                        else
                        {
                            <a class="box__link" asp-action="GetUserFollowers"> @Model.TotalFollowers people</a>
                        }
                    </li>
                }
                else
                {
                    <li class="box__item">
                        <span class="fa fa-rss-square box__icon"></span> Followed by
                        <a class="box__link" asp-action="GetUserFollowers">no one</a>
                    </li>
                }
                @if (Model.TotalFollowees > 0)
                {
                    <li class="box__item">
                        <span class="fa fa-rss box__icon"></span> Following
                        @if (Model.TotalFollowees == 1)
                        {
                            <a class="box__link" asp-action="GetUserFollowees"> @Model.TotalFollowees person</a>
                        }
                        else
                        {
                            <a class="box__link" asp-action="GetUserFollowees"> @Model.TotalFollowees people</a>
                        }
                    </li>
                }
                else
                {
                    <li class="box__item">
                        <span class="fa fa-rss box__icon"></span> Following
                        <a class="box__link" asp-action="GetUserFollowees">no one</a>
                    </li>
                }
            </ul>
        </div>
    </div>

</div>


<div class="col-md-9">
    <div id="post-container" data-url="/profile/posts/@CommonHelper.GetUserNameFromUrl()">
    </div>
    <div class=" no-posts d-none text-center p-2 w-100">
        <h2 class="text-capitalize">No more posts</h2>
    </div>

    @if (Model.PostLoadMore)
    {
        <span class="d-none" id="post-loadMore">@Model.PostLoadMore</span>
    }
    else
    {
        <span class="d-none" id="post-loadMore"></span>
    }

</div>


@await Html.PartialAsync("_AntiForgery")