@model Reactor.Web.ViewModels.Comments.CommentViewModel

@foreach (var comment in Model.Comments)
{
    <div class="post__comment-list-box">
        <div class="post__comment-author">
            <a asp-controller="Profile" asp-action="Profile" asp-route-username="@comment.CommentBy.UserName">
                <img src="@comment.CommentBy.GetProfilePicture()" class="post__comment-author-photo"/>
            </a>
        </div>

        <div class="post__comments-list">

            <p class="d-inline">
                <h4 class="d-inline-block">
                    <a asp-controller="Profile" asp-action="Profile" asp-route-username="@comment.CommentBy.UserName">
                        @comment.CommentBy.FullName:
                    </a>
                </h4>
                @comment.Content
                <time class="d-inline-block pull-right post__time timeago" datetime="@comment.CreatedOn.ToString("o")"></time>
            </p>

        </div>
    </div>
}